h2 {
  margin: 0px;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
}

.loader-content {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 0px auto;
  background: radial-gradient(farthest-side, #107f8c 94%, #0000) top/4px 4px
      no-repeat,
    conic-gradient(#0000 30%, #107f8c);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: l13 1s infinite linear;
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  h2 {
    font-size: 16px;
    line-height: 24px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 156px;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.service-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #005e7f;
}

.logout-button {
  background-color: transparent;
  border: 1px solid #d0d7dd;
  border-radius: 16px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  align-self: center;
  margin-top: 0px;
}

.logout-button:hover {
  background-color: #f0f0f0;
}

.title-container {
  display: none;
  width: 100%;
  padding: 0px 156px;
  margin-top: 114px;
  margin-bottom: 16px;
  align-items: center;
}

.title-container h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.question-mark {
  width: 18px;
  height: 18px;
  background-color: #d0d7dd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  cursor: pointer;
}

.question-mark span {
  font-size: 12px;
  color: #ffffff;
}

.analytics-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 16px;
  border: 1px solid #d0d7dd;
  padding: 40px 32px 40px 24px;
  overflow: hidden;
}

.main-container {
  display: none;
  width: 100%;
  padding: 0px 156px;
}

.chart-container {
  width: 100%;
  max-width: 408px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  width: 100%;
  max-width: 616px;
  display: flex;
  flex-direction: column;
}

.categories-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 100%;
  align-items: stretch;
}

@media (max-width: 1224px) {
  .categories-container {
    flex-direction: column;
    gap: 10px;
  }
}

.category-column {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(auto, max-content));
  gap: 10px;
}

.category-row {
  display: flex;
  align-items: flex-start;
  min-width: 240px;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
  flex-shrink: 0;
  margin-top: 4px;
}

.label {
  max-width: 224px;
  word-break: break-word;
  line-height: 1.2;
}

.percentage {
  margin-left: auto;
  flex-shrink: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(125, 131, 138, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1001;
}

.modal {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  width: 480px;
}

.modal-header {
  background-color: #f2f4f7;
  padding: 24px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3 {
  margin: 0;
  font-size: 18px;
}

.close-cross {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.close-cross::before,
.close-cross::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #b2b8bf;
}

.close-cross::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-cross::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-body {
  padding: 24px 32px;
  font-size: 14px;
  height: 200px;
}

.modal-footer {
  background-color: #f2f4f7;
  padding: 24px 32px;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.cancel-button,
.confirm-button {
  padding: 8px 24px;
  font-size: 14px;
  border-radius: 16px;
  cursor: pointer;
  max-height: 32px;
  margin-top: 0px;
}

.cancel-button {
  background-color: white;
  color: black;
  border: 1px solid #d0d7dd;
  max-width: 98px;
}

.confirm-button {
  background-color: #c11030;
  color: white;
  border: none;
  max-width: 91px;
}

@media (max-width: 768px) {
  .header {
    padding: 0px 16px;
  }
  .modal {
    margin: 0px 24px;
  }
  .title-container {
    padding: 0px 16px;
  }

  .question-mark {
    display: none;
  }
  .main-container {
    padding: 0px 16px;
  }

  .analytics-container {
    flex-direction: column;
    width: 100%;
    padding: 0px;
    border: none;
  }

  .chart-container {
    width: 100%;
    order: 1;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 48px;
  }

  .info-container {
    width: 100%;
    order: 2;
  }

  .columns-container {
    flex-direction: column;
    gap: 0;
  }

  .column {
    width: 100%;
  }
}
